html {
    background-color: #2196f3;
    min-height: 100%;
    font-family: "helvetica neue";
    /*background: linear-gradient(#a5a58d, #212529);*/
    background: linear-gradient(#212529, #6b705c, #212529);
}

#cabecero{
    background-color: #f1faee;
    text-align: center;
    max-width: 300px;
    margin: 30px auto;
    border-radius: 5px;
}

h1{
    padding: 10px;
    color: #001219;
    text-shadow: 4px 4px 4px #6b705c;/*revisar*/
    font-size: 45px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.caja{
    max-width: 400px;
    margin: 20px;
}

.lista{
    background: #d9d9d9;
    border-radius: 5px;
    border: 10px solid #353535;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li{
    padding: 10px;
    font-size: 25px;
}

li:hover{
    background-color: #212529;
    color: white;
}

.elemento {
    min-height: 70px;
}

#imagen{
    visibility: hidden;
}

